.advantages {
  padding: 80px 0;

  @include vp-767 {
    padding: 60px 0;
  }

  &__text {
    display: block;
    margin: 0 0 16px;
    font-size: 160px;
    font-family: $ff-ardeco;
    line-height: 140px;
    color: $color-fun-blue;
    letter-spacing: -0.02em;

    @include vp-1023 {
      font-weight: 400;
      font-size: 120px;
      line-height: 100px;
    }

    @include vp-767 {
      margin: 0 0 9px;
      font-weight: 400;
      font-size: 66px;
      line-height: 56px;
      text-align: center;
    }
  }

  &__heading {
    margin: 0 0 80px;
    font-size: 52px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 50px;
    color: $color-fun-blue;
    text-transform: uppercase;

    @include vp-1023 {
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      margin: 0 0 32px;
      font-weight: 400;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
    }
  }

  &__content {
    column-gap: 125px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 315px 360px;

    @include vp-1023 {
      grid-template-columns: 252px 300px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    row-gap: 36px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include vp-1023 {
      row-gap: 28px;
    }

    @include vp-767 {
      align-items: center;
      row-gap: 24px;
    }
  }

  &__list-item {
    display: flex;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.025em;

    @include vp-1023 {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -2%;
    }

    @include vp-767 {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }

    &::after {
      content: "";
      position: absolute;
      right: -95px;
      width: 80px;
      height: 56px;
      background-image: url("../../images/sprite/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80px 56px;
      opacity: 0;
      transition: opacity 0.3s ease;
      cursor: pointer;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &--link--active {
    color: rgba(255, 255, 255, 0.5);
  }

  &__link--active {
    color: $color-white-50;
    pointer-events: none;
  }

  &__link-icon {
    position: absolute;
    right: -80px;
    display: none;
    pointer-events: none;
  }
}


