.apartments {
  padding: 79px 0 0;

  @include vp-767 {
    padding: 59px 0 0;
  }

  &__wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 420px 360px;
    column-gap: 80px;

    @include vp-1023 {
      grid-template-columns: 340px 300px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 32px;
    }
  }

  &__heading {
    margin: 0 0 24px;
    font-size: 64px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;

    @include vp-1023 {
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 46px;
      line-height: 46px;
    }

    @include vp-767 {
      margin: 0 0 16px;
      font-weight: 400;
      font-size: 36px;
      line-height: 34px;
    }
  }

  &__icon {
    display: flex;
    margin: 0 0 32px;
    pointer-events: none;

    @include vp-1023 {
      max-width: 50px;
    }

    @include vp-767 {
      margin: 0 0 20px;
    }
  }

  &__description {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      margin: 0 0 21px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-767 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__text {
    margin: 0 0 16px;
    font-weight: 300;
    line-height: 22px;

    @include vp-1023 {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      margin: 0 0 11px;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__list {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 16px;

    @include vp-1023 {
      padding: 0 0 0 13px;
    }
  }

  &__list-item {
    font-weight: 300;
    line-height: 22px;

    @include vp-1023 {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &--lite &__wrapper {
    grid-template-columns: 360px 420px;

    @include vp-1023 {
      grid-template-columns: 300px 340px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &--lite &__list {
    margin-bottom: 16px;

    @include vp-767 {
      margin-bottom: 12px;
    }
  }

  &--lite &__heading {
    margin: 12px 0 24px;

    @include vp-1023 {
      margin: 0 0 18px;
    }
  }
}
