.button {
  padding: 10px 18px;
  font-size: 13px;
  font-family: inherit;
  line-height: 16px;
  color: inherit;
  background-color: transparent;
  border: 2px solid $color-white;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;

  &:hover, &:focus {
    background-color: $color-white;
    color: $color-cerulean-blue;
  }
}