.header {
  padding: 16px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 30px 20px 0px rgba($color-cerulean-blue, 0.8);
  background-color: $color-cerulean-blue;

  @include vp-1023 {
    padding: 10px 0;
  }

  @include vp-767 {
    padding: 5px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;

    @include vp-1023 {
      max-width: 768px;
      padding: 0 20px;
    }

    @include vp-767 {
      padding: 0 16px;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    column-gap: 142px;

    @include vp-1023 {
      column-gap: 37px;
    }
  }

  &__home-link {
    display: flex;
  }

  &__home-icon {
    @include vp-1023 {
      width: 23px;
      height: 23px;
    }
  }

  &__right {
    column-gap: 20px;
    margin: 0 0 0 auto;
  }

  &__logo-link {
    display: flex;
  }

  &__logo-image {
    @include vp-1023 {
      width: 140px;
      height: 60px;
    }
  }

  &__language-link {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    @include vp-1023 {
      display: none;
    }
  }

  &__favorites-link {
    display: flex;

    @include vp-1023 {
      display: none;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    user-select: none;

    @include vp-1023 {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__btn {
    margin: 0 20px 0 0;

    @include vp-1023 {
      margin: 0;
      padding: 9px;
      width: 128px;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__phone {
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__phone-link {
    @include vp-767 {
      display: none;
    }
  }

  &__phone-icon {
    display: none;

    @include vp-767 {
      display: flex;
    }
  }
}
