.hero {
  padding: 48px 0 0;

  @include vp-1023 {
    padding: 0;
  }

  &__heading {
    margin: 0;
    font-size: 70px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;

    @include vp-1023 {
      font-weight: 400;
      font-size: 50px;
      line-height: 50px;
    }

    @include vp-767 {
      font-weight: 400;
      font-size: 44px;
      line-height: 40px;
      text-align: center;
    }
  }

  &__pp-span {
    letter-spacing: -0.001em;
  }

  &__img-wrapper {
    position: relative;
  }

  &__img-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, $color-cerulean-blue-0 0%, $color-cerulean-blue-60 46.28%, $color-cerulean-blue 89%);

    @include vp-1023 {
      height: 100px;
    }

    @include vp-767 {
      height: 65px;
    }
  }

  &__image {
    width: 100%;
    margin: 48px 0 0;

    @include vp-1023 {
      margin: 40px 0 0;
    }

    @include vp-767 {
      margin: 34px 0 0;
    }
  }

  &--gridlike .hero__heading {
    text-align: left;

    @include vp-767 {
      text-align: center;
    }
  }

  .hero__text-wrapper {
    display: grid;
    grid-template-columns: 360px 420px;
    justify-content: space-between;

    @include vp-1023 {
      grid-template-columns: repeat(2, 340px);
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .hero__text {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    @include vp-1023 {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-767 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &--gridlike .hero__img-wrapper::after {
    display: none;
  }

  &--gridlike .hero__heading {
    margin-bottom: 17px;
  }

  &__description {
    padding: 80px 0;
    margin: 0 auto;
    max-width: 620px;
    text-align: center;

    @include vp-767 {
      padding: 59px 0;
    }
  }

  &__description-decorate {
    margin-bottom: 29px;

    @include vp-1023 {
      margin-bottom: 27px;
      width: 50px;
    }

    @include vp-767 {
      margin-bottom: 18px;
    }
  }

  &__description-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    @include vp-1023 {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-767 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
