.privacy {
  padding: 80px 0 0;

  @include vp-767 {
    padding: 78px 0 0;
  }

  &__wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 360px 420px;
    column-gap: 88px;

    @include vp-1023 {
      grid-template-columns: 300px 340px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      row-gap: 33px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    margin: 0 0 24px;
    font-size: 64px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;

    @include vp-1023 {
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 46px;
      line-height: 46px;
    }

    @include vp-767 {
      margin: 0 0 16px;
      font-weight: 400;
      font-size: 36px;
      line-height: 34px;
    }
  }

  &__text,
  &__list-item {
    font-weight: 300;
    line-height: 22px;

    @include vp-1023 {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__text {
    margin: 0 0 16px;

    @include vp-767 {
      margin: 0 0 11px;
    }
  }

  &__list {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
    padding: 0 0 0 16px;

    @include vp-1023 {
      margin: 0 0 24px;
      padding: 0 0 0 12px;
      max-width: 95%;
    }
  }

  &__link {
    column-gap: 12px;
    display: flex;
    align-items: center;
    line-height: 22px;

    @include vp-1023 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      column-gap: 7px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__link-icon {
    pointer-events: none;

    @include vp-1023 {

    }

    @include vp-767 {
      width: 48px;
      height: 30px;
    }
  }

  &--lite {
    @include vp-767 {
      padding: 59px 0 0;
    }
  }

  &--lite &__wrapper {
    grid-template-columns: 420px 360px;

    @include vp-1023 {
      grid-template-columns: 340px 300px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &--lite &__text {
    margin: 0;
  }

  &--lite-square {
    @include vp-767 {
      padding: 59px 0 0;
    }
  }

  &--lite-square &__wrapper {
    grid-template-columns: repeat(2, 420px);

    @include vp-1023 {
      grid-template-columns: 270px 340px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &--lite-square &__text {
    margin: 0;
  }

  &--square-reversed {
    padding: 73px 0 0;

    @include vp-1023 {
      padding: 64px 0 0;
    }

    @include vp-767 {
      padding: 47px 0 0;
    }
  }

  &--square-reversed &__text {
    margin: 0;
  }

  &--square-reversed &__wrapper {
    grid-template-columns: repeat(2, 420px);

    @include vp-1023 {
      grid-template-columns: 340px 270px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }
}
